---
import MoviesList from "./MoviesList.astro";
---
<div class="relative top-10 m-3 bg-white overflow-auto">
    <MoviesList text="Top 10 movies I have watched" />
    <br />
    <MoviesList text="Top 10 movies I want to watch" />
    </div>
</div>